@import url('https://use.typekit.net/ylx6upq.css');


/**
* Variables
*/

$primary-color: #001e1d;
$succes-color: #2CB67D;
$danger-color: #E16162;

#app {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #abd1c6;
  padding: 2rem;
}

* {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.svg-inline--fa {
  font-size: 1.25rem;
  margin: 0 5px;
}

:root,
[data-bs-theme='light'] {
  --bs-primary: $primary-color;
  --bs-secondary: #f9bc60;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    color: $primary-color;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  .btn {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.825rem;
    margin: 0.125rem;
    --bs-btn-border-width: 2px;
    --bs-btn-font-size: 1.125rem;
    --bs-btn-font-weight: 700;
    &.btn-sm {
      --bs-btn-padding-x: 0.125rem;
      --bs-btn-padding-y: 0.125rem;
    }
  }
  .btn-primary {
    --bs-border-radius: 0.1875rem;
    --bs-btn-bg: #f9bc60;
    --bs-btn-color: $primary-color;
    --bs-btn-border-color: #f9bc60;
    --bs-btn-hover-color: $primary-color;
    --bs-btn-hover-bg: #abd1c6;
    --bs-btn-hover-border-color: $primary-color;
  }
  .btn-secondary {
    --bs-border-radius: 0.1875rem;
    --bs-btn-bg: #004643;
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #004643;
    --bs-btn-hover-color: $primary-color;
    --bs-btn-hover-bg: #f9bc60;
    --bs-btn-hover-border-color: $primary-color;
  }
  .btn-link {
    --bs-link-color: $primary-color;
    --bs-link-hover-color: #f9bc60;
  }

  .modal {
    --bs-modal-header-border-width: 0;
    --bs-modal-footer-border-width: 0;
    .modal-content {
      --bs-modal-border-radius: 0.1875rem;
      --bs-modal-bg: #abd1c6;
      --bs-modal-border-color: #004643;
      --bs-modal-border-width: 2px;
    }
  }

  .card {
    --bs-card-border-radius: 3px;
    --bs-card-border-width : 0px;
    --bs-card-bg: #004643;
    --bs-card-color: #ffffff;
  }
}

/**
* App.vue
*/

.router-link {
  text-decoration: none;
  margin: 0px 7.5px;
  .svg-inline--fa {
    color: $primary-color;
    font-size: 1.5rem;
    margin: 0 5px;
  }
  color: $primary-color;
  &:hover {
    color: #058075;
    text-decoration: underline;
    path {
      fill: #f9bc60;
      stroke: $primary-color;
      stroke-width: 20;
    }
  }
  &.router-link-active {
    path {
      stroke: $primary-color;
      stroke-width: 20;
      fill: #f9bc60;
    }
  }
}


/**
* HomeView.vue
*/

#month-selector {
  line-height: 3rem;
  i {
    font-size: 3rem;
  }
}

.transaction-item {
  border: 2px $primary-color solid;
  border-radius: 0.1875rem;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 6px;
  margin-bottom: 1rem;
  span {
    font-weight: 700;
  }
  .type {
    &.revenu {
      display: block;
      border: 2px $primary-color solid;
      height: 28px;
      width: 28px;
      background-color: $succes-color;
      border-radius: 28px;
    }
    &.depense {
      display: block;
      border: 2px $primary-color solid;
      height: 28px;
      width: 28px;
      background-color: $danger-color;
      border-radius: 28px;
    }
  }
}