@import url('https://use.typekit.net/ylx6upq.css');
@import url('/src/assets/variables.scss');

/**
* Variables
*/

$primary-color: #001e1d;
$succes-color: #2cb67d;
$danger-color: #e16162;
$light-green: #abd1c6;

.text-light-green {
  color: $light-green !important;
}

#app {
  min-height: 100vh;
  background-color: #abd1c6;
  padding: 2rem;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 160px);
}

* {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.svg-inline--fa {
  font-size: 1.25rem;
  margin: 0 5px;
}

:root,
[data-bs-theme='light'] {
  --bs-primary: $primary-color;
  --bs-secondary: #f9bc60;
  --bs-danger-rgb: 225, 97, 98;;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    color: $primary-color;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  .btn {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.825rem;
    --bs-btn-active-bg: $primary-color;
    --bs-btn-border-width: 2px;
    --bs-btn-font-size: 1.125rem;
    --bs-btn-font-weight: 700;
    --bs-btn-active-border-color: #f9bc60;
    --bs-btn-active-color: $primary-color
    margin: 0.125rem;
    &.btn-sm {
      --bs-btn-padding-x: 0.125rem;
      --bs-btn-padding-y: 0.125rem;
    }
    &.btn-xs {
      --bs-btn-padding-x: 0rem;
      --bs-btn-padding-y: 0rem;
    }
  }
  .btn-primary {
    --bs-border-radius: 0.1875rem;
    --bs-btn-bg: #f9bc60;
    --bs-btn-color: $primary-color;
    --bs-btn-border-color: #f9bc60;
    --bs-btn-hover-color: $primary-color;
    --bs-btn-hover-bg: #abd1c6;
    --bs-btn-hover-border-color: $primary-color;
  }
  .btn-secondary {
    --bs-border-radius: 0.1875rem;
    --bs-btn-bg: #004643;
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #004643;
    --bs-btn-hover-color: $primary-color;
    --bs-btn-hover-bg: #f9bc60;
    --bs-btn-hover-border-color: $primary-color;
  }
  .btn-link {
    --bs-link-color: $primary-color;
    --bs-link-hover-color: #f9bc60;
  }

  .modal {
    --bs-modal-header-border-width: 0;
    --bs-modal-footer-border-width: 0;
    .modal-content {
      --bs-modal-border-radius: 0.1875rem;
      --bs-modal-bg: #abd1c6;
      --bs-modal-border-color: #004643;
      --bs-modal-border-width: 2px;
    }
  }

  .form-switch {
    .form-check-input {
      --bs-form-check-bg: $light-green;
      --bs-form-switch-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23001E1D'/%3e%3c/svg%3e");
      border-color: #001E1D;
      border-width: 2px;
      height: 1.5rem;
      width: 3rem;
      box-shadow: unset;
      &:checked {
        --bs-form-switch-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23E8E4E6'/%3e%3c/svg%3e");
        background-color: #f9bc60;
        border-color: #f9bc60;
      }
    }
  }

  .form-select {
    width: 100%;
    --bs-border-radius-lg: 3px;
    --bs-border-color: transparent;
    min-height: 64px;
    background-color: #004643;
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
  }

  .card {
    --bs-card-border-radius: 3px;
    --bs-card-border-width: 0px;
    --bs-card-bg: #004643;
    --bs-card-color: #ffffff;
  }
  .input-group {
    min-height: 64px;
    border: none;
    background: unset;
    width: 100%;
    &:focus-within {
        [class^="input-group-"] {
          transition: all 0.125s ease-in-out;
        color: #f9bc60;
      }
      ::placeholder {
        color: #abd1c6;
      }
    }
    [class^="input-group-"] {
      background-color: #004643;
      border: none;
      color: #abd1c6;
      border-radius: 0.1875rem;
    }
    .form-control {
      border-radius: 0.1875rem;
      background-color: #004643;
      font-weight: bold;
      font-size: 0.875rem;
      border: unset;
      color: #FFFFFF;
      &:focus {
        box-shadow: unset;
      }
    }
    ::placeholder {
      color: #fff;
    }
  }
  .error {
    svg {
      fill: $danger-color;
      color: $danger-color;
    }
  }
}

/**
* App.vue
*/

.router-link {
  text-decoration: none;
  margin: 0px 7.5px;
  .svg-inline--fa {
    color: $primary-color;
    font-size: 1.5rem;
    margin: 0 5px;
  }
  color: $primary-color;
  &:hover {
    color: #058075;
    text-decoration: underline;
    path {
      fill: #f9bc60;
      stroke: $primary-color;
      stroke-width: 20;
    }
  }
  &.router-link-active {
    path {
      stroke: $primary-color;
      stroke-width: 20;
      fill: #f9bc60;
    }
  }
}

/**
* HomeView.vue
*/

#month-selector {
  line-height: 3rem;
  i {
    font-size: 3rem;
  }
}

.transaction-item {
  border: 2px $primary-color solid;
  border-radius: 0.1875rem;
  height: 54px;
  margin-bottom: 1rem;
  max-width: 320px;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 6px;
  }
  span {
    font-weight: 700;
  }
  .type {
    &.revenu {
      display: block;
      border: 2px $primary-color solid;
      height: 28px;
      width: 28px;
      background-color: $succes-color;
      border-radius: 28px;
    }
    &.depense {
      display: block;
      border: 2px $primary-color solid;
      height: 28px;
      width: 28px;
      background-color: $danger-color;
      border-radius: 28px;
    }
  }
}

.bigger-transparent {
  border: unset;
  background-color: unset;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    opacity: 0.25;
    color: #001E1D;
  }
}

/* Pour les navigateurs basés sur WebKit comme Chrome, Safari, etc. */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Mozilla Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}



.svg-inline--fa {
  color: $primary-color;
  font-size: 1.5rem;
  margin: 0 5px;
  &:hover {
    color: #058075;
    text-decoration: underline;
    path {
      fill: #f9bc60;
      stroke: $primary-color;
      stroke-width: 20;
    }
  }
}